#App related configurations
APP_LOG_LEVEL='APP_LOG_LEVEL'
APP_WORKFLOW_TABLENAME='WORKFLOW_TABLE_NAME'
APP_PROCESSORTEMPLATES_TABLENAME='Some table name'

## File processing related configuration
APP_FILES_INPUT_BUCKET_NAME=input_bucket
APP_FILES_OUTPUT_BUCKET_NAME=output_bucket
APP_FILES_ARCHIVE_BUCKET_NAME=archive_bucket
APP_FILES_OBJECT_PREFIX=""
APP_FILES_PRE_SIGNED_URL_EXPIRATION_IN_SECONDS=0

#AWS related configurations
AWS_DYNAMODB_REGION=region-1
AWS_IS_LOCAL='True or False'

#OPENSEARCH related configurations
OPENSEARCH_HOST='OPENSEARCH_HOST'
OPENSEARCH_REGION='region'
OPENSEARCH_SERVICE='service'
OPENSEARCH_PORT=0
OPENSEARCH_POOL_MAXSIZE=0
OPENSEARCH_INDEX='index'
